
.mymy {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#opbtn{
    width: 130px;
    height: auto;
    background-color:chartreuse;

    
}
#opbtn:hover{
    width:200px;
    height:30px;
    
}
button:hover{
    color: red;
    background-color:aqua;
    cursor:crosshair;
    font-size: large;
}
#no{
    background-color:burlywood;
    color:brown;
    font-style:italic;
    font-size:bold;
    border-radius:20%;
}

